.mtitle {
    border: 1px;
    background: lightgray;
}

.mtitle-main {
    font-size: 75px;
    text-indent: 10px;
    
}

.mtitle-sub {
    font-size: 14px;
    text-indent: 10px;
}

.intro-box {
    border: 1px;
    background: white;
    margin-top: 17px;
    width: 200px;
    height: 230px;
    border-radius: 2px;
    text-indent: 10px;
    text-align: center;
}
